@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol,  dd,  p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
dt,dl{
    margin: 0;
    padding: 0;
}


fieldset, img, input, button { 			
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;            
}

ul, ol {
    list-style: none;				
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;                
}


img {
    border: 0;
    vertical-align: middle  ;
}


table {
    border-collapse: collapse;			
}


body {
    font: 12px/150% Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif; //谷歌不支持12px以下的字体	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;             
    text-decoration: none;
}
s{
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}
body{
    background-color: #f6f6f6;
}

/*公共类*/
.w {
    
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
.show {
    display: block !important;
}
.show2 {
    z-index: 1 !important;
}
.style-red {
    color: #f10215;
}
.active{
    background-color: #E01222 !important;

}
.active-2{
    
    opacity: 1;
    
}
.active-3{
    background-color: rgb(153,147,149);
}